@{
    ViewData["Title"] = "Home Page";
}

<div class="Jumbotron">
    <h1>Contoso University</h1>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Contoso University </h2>
        <p>
            Contoso University is ranked world wide as one of the top 10 universities to ever consider to study in,
            we offer a wide variety of projects and classes that you can choose from and have the freedom to create and imagine,
            We would like to invite you to a free tour around our campus where in it you can enjoy the progress we have made ,
        </p>
    </div>
  <div class="col-md-4">
        <h2>Build it from scratch</h2>
        <p>You can build the application by following the steps in a series of tutorials.</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">See the tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/dotnet/AspNetCore.Docs/tree/main/aspnetcore/data/ef-mvc/intro/samples/5cu-final">See project source code &raquo;</a></p>
    </div>
</div>
</div>